.App {
  background: #61aa1d;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  margin: 2.5% auto;
  height: auto;
  border-radius: 8px;
}
h1{
  color:rgb(31, 132, 150);
  size:50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}
